.spot-card-image{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit:cover;
}

.spot-card-container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    font-size: .9em ;
}

.spot-city-state-rating{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.star-container{
    font-size: 10px;
}

.spot-avg-rating{
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
    font-weight: 400;
}

.night-text{
    font-weight: 400;
}

.price-per-day{
    font-weight: 700;
}
