.user-spots{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.user-spot-card-display {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    gap: 10px;
}
