.spot-images-display-container{
        height: 50vh;
        max-width: 60vw;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        border-radius: 15px;
        justify-content: space-between;
        gap: 10px
        /* border: 1px solid black; */
}

.preview-image-container{
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.preview-image{
    margin: auto;
    width: fill;
    height: fill;
}

.spot-image{
    margin: auto;
    width: fill;
    height: fill;
}

.spot-images-container{
        height: 100%;
        width: 50%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-between;
        /* gap: 5px; */
}

.spot-image-container {
    width: 49%;
    height: 49%;
    overflow: hidden;
}

/*
.spots-display {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 80px;
    margin-right: 80px;
    justify-content: space-between;
    align-content: space-between;
    border: 1px solid black;
    gap: 10px;
} */

.spot-description{
    border-top: 1px solid lightgray;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-top: 10px;

}
