

.review-card-container{
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.user-date-pic-container{
    display: flex;
    flex-direction: row;
}

.name-year-container{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.profile-pic{
    height: 50px;
    width:50px;
    border-radius: 100%;
}

.hidden{
    display: none;
}

.review-session-user-buttons{
    padding-left: 20px;
    display: flex;
    flex-direction: row;
}

.review-text{
    margin-top: 10px;
}
