.signup-form{
    width: 30%;
    border:none;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.signup-form-data {
    height: 30px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    align-self: center;

}

.log-in-button{
    align-self: center;
    height: fit-content;
    width: fit-content;
    position: absolute;
    bottom: 3%;
    left: 40%;

}


.form-field-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-between;
    align-items: center;

}

ul.errors{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30%;
}

.sign-up{
    margin-left: 35%;
}
