/* button {
    background-color: white;
    border: 1px solid black;
} */

.hidden {
    display: none;
}


ul > li {
    padding: 3px;
}

#navigation-container {
    display: flex;
    flex-direction: row;
    list-style: none;
}
