

.hidden {
    display: none;
}


#navigation-container {
    position: relative;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    height: 80px;
    padding-left: 80px;
    padding-right: 80px;
}


.nav-logo{
    width: 30px;
    height: 30px;
}

.nav-logo-home-container{
    display: flex;
    align-items: center;
}
.profile-button-add-spot-link-container{
    display: flex;
    margin-right: 10px;
    align-items: center;
}

.host-spot-link{
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 12px;
}


.home-logo-text{
    font-size: 25px;
    font-weight: 800;
    color: #FF5A5F;
    /* padding-top: 18px; */
}

.spacer{
    width: 10px;
}

.nav-link{
    text-decoration: none;
}

.profile-menu-icons-button{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    background-color: white;
    border: 1px solid lightgray;
    color: gray;
    height: 40px;
    align-items: center;
    border-radius: 20px;
    box-shadow: none;
    transition: box-shadow 0.2s ease;
}

.profile-menu-icons-button:hover {
    box-shadow: 3px 3px 3px rgba(118, 118, 118, 0.3);
}

ul.profile-dropdown{
    list-style: none;
}
